<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ELMFER Blog</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    {{ partial "header.html" (dict "subtitle" "<Threads/>") }}

    <div id="content-area">
      <div style="display: flex; flex-direction: row; justify-content: center; flex-grow: 1;">
        <main>
          <card>
            <card-header>Threads</card-header>
  
            {{ $threads := where .Site.RegularPages "Type" "threads"}}
            {{ range $threads }}
             {{ partial "threads/item.html" . }}
            {{ end }}
          </card>
        </main>
      </div>

      {{ partial "footer.html" }}
    </div>

    {{ partial "include-scripts.html" }}
  </body>
</html>
